*, *:after, *:before {
  box-sizing: border-box;
}

.body {
  margin: 0;
  padding: 0;
  border: 0;
}

#scoreboard {
    max-width: 970px;
    max-height: 66px;
    background-color: white;
    margin: 0;
    padding: 0;
    border: 0;
}

.competitions {
    display: flex;
    flex-flow: row wrap;       /* Auto wraps to column for small width */
}

.competition {
    list-style: none;
    padding: 1em;
    background-color: #D9D9D9;
    margin: 1px;
}

.comp-detail {

}

.scheduled-datetime{
    font-size: .85em;
    color: black;
}

.teams {
    display: flex;
    flex-flow: column-reverse;
}

.record {
    font-size: .75em;
    color: gray;
}



.scheduled {

}

.inprogress{

}

.complete {

}
