*, *:after, *:before {
  box-sizing: border-box;
}

.body {
  margin: 0;
  padding: 0;
  border: 0;
}

#scoreboard {
    max-width: 970px;
    max-height: 66px;
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    flex-flow: row;
}

@media all and (max-width: 770px) {
    #scoreboard {
        flex-flow: column;
    }
}

.competition {
    padding: 0.3em;
    background-color: #F0F0F0;
    margin: 1px;
    min-width: 115px;
    min-height: 66px;
}

@media all and (max-width: 770px) {
    #scoreboard {
        width: 100%;
        padding: 0 0.35em;
    }
}

.inner {
    display: flex;
    flex-direction: row;
}
.status {
    font-size: 0.7em;
    padding-bottom: 0.5em;
}

.in-progress {
    color: green;
}

.scheduled-datetime{
    font-size: 0.85em;
    color: black;
}

.teams {
    display: flex;
    flex-flow: column-reverse;
    align-items: center;
    font-size: 0.8em;
}

.team-link {
    text-decoration: none;
}

.team-ind {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.team-name {
    padding-right: 1em;
    width: 90px;
    margin-right: auto;
}

.record {
    padding-left: 0.25em;
    font-size: 0.70em;
    color: gray;
}

.score {
}

.winner {
    font-weight: bolder;
}

.pitchers {
    display: flex;
    flex-direction: column;
    padding-left: 5em;
    font-size: 0.70em;
}

.pitchers p {
    padding: 0;
    margin: 0;
    border: 0:
}

.final {
    display: none;
}

.hidden {
    display: none;
}

@media all and (max-width: 770px) {
    .team {
        justify-content:
    }
    .final {
        display:flex;
        flex-direction: column;
        padding-left: 1em;
    }
}
